body {
    display: flex;
    justify-content: center;
    background-color: cornflowerblue;
}

@media (max-width: 640px)
{
    aside
    {
        display: none;
    }
}

.container {
    width: 100%;


}

header {
    width: 100%;
    height: 110px;
    background-color: ghostwhite;
    border-bottom: 2px solid black;
}

nav {
    display: flex;
    background-color: ghostwhite;
    max-width: 700px
}

li {
    list-style-type: none;
    width: 80px;
    margin: 15px;
    background-color: aqua;
    max-width: 1000;
}

section {
    display: flex;
    flex-flow: row;
    max-width: 1000px;
}

.article_section {
    width: 75%;

}

article {
    margin: auto;
    margin-top: 26px;
    width: 70%;
    height: 200px;
    background-color: ghostwhite;
}

aside {
    width: 25%;
}

.side_section {
    margin: auto;
    margin-top: 26px;
    width: 75%;
    height: 270px;
    background-color: blue;
}

footer {
    background-color: ghostwhite;
    color: black;
    text-align: center;
    height: 50px;
}