.foot-wave {
    background-image: url(/static/images/footwave.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 44px;
}
.foot-white {
    height: 60px;
    background-color: white;
    color: black;
}

.navbar-default {
    border-color: #608fb0;
    background-color: #608fb0;
}
