header {
    background-image: url(/static/images/sea-header.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.header-height {
    height: 200px;
}

.row {
    margin-left: auto;
    margin-right: auto;
}

.col {
    position: relative;
    float: left;
}

.col-6 {
    width: 50%;
}

header h1 {
    font-size: 48px;    padding-left: 20%;
    text-align: left;
    padding-top: 60px;
    background: -webkit-linear-gradient(#333, #eee);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

header #penguin {
    height: 100%;
    width: 150px;
    padding-top: 50px;
}

header #logo-text {
    height: 100%;
    padding-top: 50px;
}