body {
    background-color: #96b4c9;
}

.navbar-default {
    background-color: #608fb0;
    border: unset;
    margin-bottom: 0;
    text-align: center;


}

.jumbotron {
    background-color: unset;
    margin-bottom: 35px;
    padding-top: 35px;
}

.infinityContainer {
    display: flex;
    flex-wrap: wrap;
}


#selfie {
    height: 50px;
    width: 50px;
}

.content-window {
    background-color: aliceblue;
}

.center{

  top: 50%;
  left: 50%;

}

