body {
    background-color: #96b4c9;
}

.container {
  max-width: 1000px;
}

.navbar-default {
    background-color: #608fb0;
    border: unset;
    margin-bottom: 0;
    text-align: center;
}

.content-window {
    background-color: unset;
    /* Paddings outside jumbotrons */
    padding: 35px 4% 35px 4%;
}

.jumbotron {
    background-color: aliceblue;
    margin-bottom: 35px;
}

.container .jumbotron {
    /* Paddings inside jumbotrons */
    padding: 15px 15px 15px 15px;
}

#post-img {
    max-width: 100%;
    max-height: 350px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.jumbotron .post {
    font-size: 16px;
}

.infinityContainer {
    display: flex;
    flex-wrap: wrap;
}


#selfie {
    height: 50px;
    width: 50px;
}

.center{
  top: 50%;
  left: 50%;
}

.btn-default{
    color: aliceblue;
     background-color: #96b4c9;
    border-color: black;
}

#myBtn {
    height: 50px;
    width: 50px;
    border: 4px solid transparent;
}

#adDisplay img {
    max-width: 100%;
    max-height: 350px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

#loading-msg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    text-align: center;
}

.form-group1 {
    border: none;
}