<!DOCTYPE html>
<html lang="en">
<head>

  {% if title %}
      <title>Penguin - {{ title }}</title>
  {% else %}
      <title>Penguin</title>
  {% endif %}
  <link rel="shortcut icon" type="image/jpg" href="/static/images/favicon5.ico"/>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/static/css/main.css">
  <link rel="stylesheet" href="/static/css/header.css">
  <link rel="stylesheet" href="/static/css/footer.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <style>@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');</style>

{% block head %}
  {% endblock %}
</head>

<body>
<canvas id="canvas"></canvas>

<header class="header-height">
    <div class ="container">
        <div class="row">
            <div class="col col-6">

                    <img src="/static/images/cool-logo2.png" id="logo-text" alt="logo">

            </div>
            <div class="col col-6">
                <div style="padding-left: 15%" class="header-height">
                    <img src="/static/images/penguin.png" id="penguin" alt="Penguin">
                </div>
            </div>
        </div>
    </div>
</header>

<nav class="navbar navbar-default" >
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav center">
      {% if 'email' in session %}
        <li {% if request.path == '/feed' %}class="active"{% endif %}>
            <a href="{{ url_for('get_feed') }}" id="nav" >Feed</a>
        </li>
        <li {% if request.path == '/create_post' %}class="active"{% endif %}>
            <a href="{{ url_for('get_create_post') }}" id="nav">Create post</a>
        </li>
        <li {% if '/profile' in request.path %}class="active"{% endif %}>
            <a href="{{ url_for('get_profile') }}" id="nav">Profile</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <form method="POST" action="" id="penguin-search" style="padding-top: 8px; width: auto" name="form1" onsubmit="return false;">
                <input type="text" class="form-control" id="nameInput" placeholder="Search penguins">
          </form>
        </li>
        <li><a href="{{ url_for('logged_out') }}" id="nav"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>

      {% else %}
      <li {% if request.path == '/sign_in' %}class="active"{% endif %}>
            <a href="{{ url_for('sign_in') }}" id="nav">Login</a>
        </li>
        <li {% if request.path == '/sign_up' %}class="active"{% endif %}>
            <a href="{{ url_for('sign_up') }}" id="nav">Register account</a>
        </li>

      {% endif %}
      </ul>
    </div>
  </div>
</nav>

{% block content %}
{% endblock %}

<footer class="navbar-fixed-bottom">
    <div class="container-fluid foot-wave position-fixed"></div>
    <div class="foot-white text-center">
        <p>{{ get_weather_api() }}<a href="http://www.wtfpl.net/">  <img src="/static/images/WTFPL.png"  style="width: 30px; height: 20px;"> </a></p>

    </div>
</footer>

<script src="/static/js/snow.js"></script>
</body>
</html>
