{% extends "base_logged_in.html" %}

{% block content %}
<div class="container center-block" style="margin-top: 35px">
  <div class="row">
    <div class="col-sm-3 jumbotron">
    </div>

    <div class="col-sm-6 jumbotron" style="background-color: aliceblue">
        <form action="" method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Make a new penguin-post!</legend>
            <div class="form-group">
                {{ form.description.label(class="form-control-label") }}

                {% if form.description.errors %}
                    {{ form.description(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.description.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}

                    </div>
                    {% else %}
                        {{ form.description(class="form-control form-control-lg") }}
                {% endif %}
            </div>


             <div class="form-group">
                <div class="jumbotron content-window">
                    <div class="col-sm-6 jumbotron" style="background-color: aliceblue">
                    <title>Upload File</title>
                    <h1>Photo Upload</h1>
                    {{ form.hidden_tag() }}
                    {{ form.file }}
                    {% for error in form.file.errors %}
                        <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                    {{ form.submit }}

    </form>


    <div class="col-sm-3 jumbotron">
    </div>

  </div>
</div>





</form>



    </div>
{% endblock %}
