{% extends "base_logged_in.html" %}

{% block content2 %}

    {% for user, image, description, profile_picture in zipped_list %}
        <div class="jumbotron content-window">
            <div class="media">
                <div class="media-left">
                  <img src = "data:image/png;base64, {{profile_picture}}" class="media-object" style="width:60px">
                </div>
                <div class="media-body">
                  <h3 class="media-heading">{{ user.first_name }} {{ user.last_name }}</h3>
                </div>
            </div>
            <hr>
            <img src = "data:image/png;base64, {{image}}" alt= "myImage" id="post-img"/>
            <p class="post">{{ description }}</p>
        </div>
    {% endfor %}
    </div>

</script>
{% endblock %}