{% extends "base_logged_in.html" %}
{% block feed_content %}
    <div class="jumbotron" id="">
            <h1>hi</h1>
                </div>
{% endblock %}
{% block content2 %}
<div id="post">
</div>

<div id="loading-msg">
</div>

<script>
    let current_page = 1,
        currentXHR

    function loadImages(){
        document.getElementById("loading-msg").innerHTML = '<img src="static/images/ajaxloader.gif" style="width: 25px; height: 25px;">';

        currentXHR = $.ajax({
            data : {
                page_num : current_page
            },
            type : 'POST',
            url : '/feedscroll',
            success: (data) => {
                for (let i = 0; i < data.length; i++) {
                    let post_user_id = data[i]["post_user_id"];
                    let profile_link = '{{ url_for('get_others_profile', user_id=post_user_id) }}';
                    profile_link += post_user_id;

                    $('#post').append('' +
                        '<div class="jumbotron">\n' +
                        '    <div class="media">\n' +
                        '        <div class="media-left">\n' +
                        '        <a href="' + profile_link +  '">' +
                        '            <img src = "data:image/png;base64, ' + data[i]["profile_picture"] + '" class="media-object" style="width:60px">' +
                        '        </a>' +
                        '        </div>\n' +
                        '        <div class="media-body">\n' +
                        '            <h3 class="media-heading">' +
                        '            <a href="#">' +  data[i]["first_name"] + ' ' + data[i]["last_name"] + '</a></h3>\n' +
                        '        </div>\n' +
                        '        <div class="media-right">' +
                        '        <a href="#">' + data[i]["post_date"] + '</a>' +
                        '        </div>' +
                        '    </div>\n' +
                        '    <hr>\n' +
                        '    <a href="#">\n' +
                        '        <img src = "data:image/png;base64, ' + data[i]["photo"] + '" alt= "myImage" id="post-img"/>' +
                        '    </a>\n' +
                        '    <p class="post">' + data[i]["description"] + '</p>' +
                        '    <hr>' +
                        '    <form action="" method="POST">' +
                        '        <input class="btn" type="submit" value="Give Fish (' + data[i]["fishes"] + ')">' +
                        '    </form>' +
                        '</div>');
                }

                if (data.length === 0){
                    document.getElementById("loading-msg").innerHTML = '<p>' + 'No more posts.' + '</p>';
                } else {
                    document.getElementById("loading-msg").innerHTML = '';
                }

                current_page++;
            },
            complete: function (){
              currentXHR = null;
            },
            error: function(){
                document.getElementById("loading-msg").innerHTML = '<p>' + 'No contact with server.' + '</p>';
            }
        })
    }

    window.addEventListener("scroll", () =>{
        if(window.scrollY + window.innerHeight >= document.documentElement.scrollHeight){
            if (currentXHR) {
                return;
            }
            loadImages()
        }
    })

    loadImages()
</script>

{% endblock %}