{% extends "base_logged_in.html" %}
{% block feed_content %}
    <div class="jumbotron" id="">
            <h1>hi</h1>
                </div>
{% endblock %}
{% block content2 %}

    {% for user, image, post, profile_picture, fishes in zipped_list %}
        <div class="jumbotron">
            <div class="media">
                <div class="media-left">
                  <a href="{{ url_for('get_others_profile', user_id=user.id) }}">
                      <img src = "data:image/png;base64, {{profile_picture}}" class="media-object" style="width:60px">
                  </a>
                </div>
                <div class="media-body">
                    <h3 class="media-heading"><a href="{{ url_for('get_others_profile', user_id=user.id) }}">{{ user.first_name }} {{ user.last_name }}</a></h3>
                </div>
            </div>
            <hr>
            <a href="{{ url_for('get_post', post_id=post.id) }}">
            <img src = "data:image/png;base64, {{image}}" alt= "myImage" id="post-img"/>
            </a>
            <p class="post">{{ post.description }}</p>
            <hr>




            <form action="{{ url_for('fish_post', post_id=post.id) }}" method="POST">

                  {% if user_visitor_id in post.fishes %}

            <input class="btn " type="submit" value="Take away Fish ({{ fishes }})">

                   {% else %}

                    <input class="btn " type="submit" value=" Give Fish ({{ fishes }})">

               {% endif %}

            </form>
        </div>


           </form>
    {% endfor %}

{% endblock %}