{% extends "base_logged_in.html" %}

{% block content2 %}

    <div class="jumbotron">
            <div class="media">
                <div class="media-left">
                  <img src = "data:image/png;base64, {{user_picture}}" class="media-object rounded" style="width:60px">
                </div>
                <div class="media-body">
                  <h3 class="media-heading">{{ user.first_name }} {{ user.last_name }}</h3>
                </div>
            </div>
        <hr>
        {%if session["email"] != user.email %}
            <form action="{{ url_for('post_huddle', user_id=user.id) }}" method="POST">
            {% if user_profile_id in user_visitor.huddle %}
                <input class="btn " type="submit" value="Remove penguin from your huddle">
            {% else %}
                <input class="btn " type="submit" value="Add penguin to huddle">
            {% endif %}
            </form>
        {% else %}
             <p>
              <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                Update info
              </a>
            </p>
            <div class="collapse" id="collapseExample">
              <div class="card card-body">
                <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Update</legend>
            <div class="form-group">
                {{ form.first_name.label(class="form-control-label") }}

                {% if form.first_name.errors %}
                    {{ form.first_name(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.first_name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}

                    </div>
                    {% else %}
                        {{ form.first_name(class="form-control form-control-lg") }}
                {% endif %}

            <div class="form-group">
                {{ form.last_name.label(class="form-control-label") }}
                {% if form.last_name.errors %}
                    {{ form.last_name(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.last_name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.last_name(class="form-control form-comtrol-lg") }}
                {% endif %}
            </div>

        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
              </div>
            </div>
        {% endif %}

    </div>


    {% for user, image, post, profile_picture in zipped_list %}
        <div class="jumbotron">
            <a href="{{ url_for('get_post', post_id=post.id) }}">
            <img src = "data:image/png;base64, {{image}}" alt= "myImage" id="post-img"/>
            </a>
            <p class="post">{{ post.description }}</p>
            <hr>
            {%if session["email"] == user.email %}
            <form action="{{ url_for('delete_post', post_id=post.id) }}" method="POST">
            <input class="btn " type="submit" value="Delete">
            </form>
            {% endif %}
        </div>
    {% endfor %}

{% endblock %}