{% extends 'base.html' %}

{% block content %}
<nav class="navbar navbar-default">
</nav>

<div class="container center-block" style="margin-top: 35px">
  <div class="row">
    <div class="col-sm-3 jumbotron">
    </div>

    <div class="col-sm-6 jumbotron" style="background-color: aliceblue">
        <form action="" method="POST">
          <div class="form-group">
            <label for="email">Email address:</label>
            <input type="email" class="form-control" id="email">
          </div>
          <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <a href="{{ url_for('get_sign_up') }}">Sign Up Now</a>

    </div>

    <div class="col-sm-3 jumbotron">
    </div>

  </div>
</div>



{% endblock %}