<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Base Title</title>
    <link rel="stylesheet" href="static/css/layout.css" />
    <link rel="stylesheet" href="static/css/main.css" />
</head>
<body>
    <section>
        <div class="container">
            <header>
                <div class="row">
                    <div class="col col-4">
                    </div>
                    <div class="col col-4">
                        <h1>Pingvin community.logo</h1>
                    </div>
                    <div class="col col-4">
                    </div>
                </div>
            </header>
            <nav>
                <li>Min profil</li>
    			<li>Sök</li>
    			<li>Vänner</li>
                <li>Logga in/ut</li>
            </nav>
        </div>
    </section>

    <div id="content">
        {% block content %}
        {%  endblock %}
    </div>

    <section>
        <div class="section_divider">
          <article>
          sidebar 1
          </article>
         <article>
         flow
         </article>
        </div>
        <aside>
         sidebar 2
        </aside>
        </section>
        <footer>
        Page footer
        </footer>

    <div class="footer">Footer</div>
</body>
</html>