<!DOCTYPE html>
<html lang="en">
<head>
  <title>Penguin</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/static/css/main.css">
</head>

<body style="background-color: aqua">

<div class="jumbotron" style="margin-bottom: 0">
  <div class="container text-center">
    <h1>Penguin Community Picture</h1>
  </div>
</div>

<nav class="navbar navbar-default">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Feed</a></li>
      <li><a href="#">Profile</a></li>
      <li><a href="#">Friends</a></li>
      <li><a href="#">Search</a></li>
    </ul>
  </div>
</nav>

<div class="container center-block">
  <div class="row">
    <div class="col-sm-4 jumbotron" style="background-color: aqua">
            <div class="well">
                <p>Friends:</p>
            </div>
            <div class="well">
                <p>Ad:</p>
            </div>
    </div>

    <div class="col-sm-8 jumbotron" style="background-color: aqua">
        <div class="well">
                <p>Post</p>
        </div>
        <div class="well">
                <p>Post</p>
        </div>
        <div class="well">
                <p>Post</p>
        </div>
        <div class="well">
                <p>Post</p>
        </div>


    </div>

  </div>
</div>

<footer class="navbar-fixed-bottom">
    <div class="container-fluid foot-wave position-fixed"></div>
    <div class="foot-white text-center">
        <p>Copyright</p>
    </div>
</footer>

</body>
</html>
