{% extends "base.html" %}

{% block content %}
    <h1>Index page</h1>

<window_content>
<h1>Try a FREE sample today!</h1>
<h2>Provide your email-address and contact information to qualify</h2>
    <form>
        <input type="text" placeholder="First Name"/>
        <input type="text" placeholder="Last Name"/> <br/>
        <input type="email" placeholder="Email Address"/> <br/>
        <input type="text" placeholder="City"/>
        <input type="submit"value="Get my FREE sample" id="submit"/>
    </form>

</window_content>




{% endblock %}