{% extends "base.html" %}

{% block content %}

<nav>
    <li>Feed</li>
    <li>Profile</li>
    <li>Search</li>
    <li>Log ut</li>
</nav>





<section>
        <!-- Vi kör article i en tagg för att styra, pga vi vill styra bägge två? -->



        <aside>
            <div class="side_section">Friends</div>
            <div class="side_section">Adds</div>
        </aside>
        <div class="article_section">
            <article>
                <div id="content">
                </div>
            </article>
            <article>Article2</article>
        </div>
    </section>

{% endblock %}